* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FFD1AD;
}

.conatiner {
  background-color: #FEFAE0;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 40vh;
}

form {
  margin: 2rem 0 1rem 0;
}

form select,button,input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid #CCD5AE;
  font-size: 1rem;
  height: 2rem;
  padding-left: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.select-container img {
  font-size: 1.75rem;
  max-width: 2rem;
}

.select-container {
  display: flex;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid #CCD5AE;
  background-color: rgba(253, 253, 253, 0);
  justify-content: center;
  align-items: center;
}

.select-container select {
  font-size: 1rem;
  width: auto;
}

.msg {
  margin: 2rem 0 2rem 0;
}

form button {
  height: 3rem;
  background-color: #CB997E;
  color: #000000;
  font-size: 1.23rem;
  cursor: pointer;
}